main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  max-width: 1170px;
  margin: auto;
  /* border: 5px solid red; */
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.title h2 {
  font-size: 5vmin;
  text-transform: capitalize;
}

.underline {
  display: inline-block;
  width: 100px;
  height: 3px;
  margin-top: -15px;
  background-color: rgb(240, 205, 5);
}

.btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button {
  padding: 5px;
  text-transform: capitalize;
  color: rgb(235, 206, 43);
  border: 2px solid rgb(240, 205, 5);
  border-radius: 5px;
  background-color: white;
}

.section-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40vw;
  /* border: 2px solid greenyellow; */
}

.photo {
  width: 15vw;
  height: 12vw;
  border: 2px solid rgb(240, 205, 5);
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid rgb(240, 205, 5);

}

.item-info {
  width: 25vw;
}

.item-name {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 15px;
}

.price {
  color: rgb(207, 177, 8);
}

.item-text {
  margin-top: 10px;
}